* {
    margin: 0px;
    box-sizing: border-box;
}
html {
    font-size: 20px;
}
div#container {
    width: 100%;
}
h1 {
    font-size: 6vw;
    font-family: "Monoton", Impact, sans-serif;
    letter-spacing: 0.2rem;
    line-height: 1.0;
    text-align: left;
    color: #e6ac00;
    text-shadow: 2px 4px #fff7e6;
}
h2 {
    font-family: "Graduate", "Arial Black", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: #ffcc66;
    text-shadow: 2px 4px #000;
}
h3 {
    font-family: "Nunito", "Palatino Linotype", serif;
    font-size: 1.125rem;
    color: #333333;
    text-align: center;
}
p {
    font-family: "Nunito", "Palatino Linotype", serif;
    font-size: 1rem;
}
a {
    text-decoration: none;
    color: #4c00e6;
}
li {
    list-style: square;
}
span.strong {
    text-shadow: 1px 1px #000;
    font-size: 1.15rem;
    font-variant: small-caps;
    font-weight: bolder;
}
span.light {
    color: #cc8800;
    font-weight: 300;
}


/*PARALLAX*/
.parallax {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*HEADER*/
.parallax#header-image {
    position: relative;
    background-image: url(../images/header2.jpg); 
}
img#logo {
    width: 25%;
    position: absolute;
    top: 10%;
    left: 5%;
}
#title {
    position: absolute;
    top: 20%;
    right: 5%;
}
span.purple {
    color: #9120c5;
}



/*COUNTDOWN*/
div#countdown {
    display: none;
    position: fixed;
    width: 200px;
    top: 7px;
    left: 10px;
    z-index: 97;
    padding: 5px;
    border: none;
    outline: none;
    box-shadow: 0 2px 5px #666666;
    border-radius: 15px;
    background-color: #ffcc66;
    font-size: 1rem;
    text-align: center;
}
p#timer {
    display: inline;
    text-align: center;
}

#countdown span {
    float: right;
    padding-right: 10px;
}



/*NAVIGATION*/
nav {
    width: 100%;
    position: fixed;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 95;
    background-color: #000;
    border-bottom: 5px outset #fff;
    text-align: center;
}
div#nav {
    display: inline-block;
}
nav a {
    font-family: "Patua One", Tahoma, sans-serif;
    float: left;
    display: block;
    padding: 20px;
    font-size: 1.75rem;
    text-align: center;
    color: #fff;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
}
nav a.nav-active {
    background-color: #400080;
}
nav a:hover, nav a.nav-active:hover, .dropdown:hover .dropbtn {
    background-color: #fff;
    color: #000;
}
nav a#icon {
    display: none;
}

.resources {
    display: none;
    /*background-color: #333333;
    border-top: 3px solid #808080;*/
}
.resources-content a {
    /*TEMP*/display: none!important;
    font-size: 1rem;
    background-color: #666666;
}
.resources-content a:hover {
    background-color: #e6e6e6;
}

.dropdown {
    display: block;
    float: left;
}
.dropdown-content {
    margin-top: 80px;
    display: none;
    position: absolute;
    background-color: #666666;
    min-width: 198px;
    box-shadow: 0px 8px 16px 0px #595959;
    z-index: 1;
}
.dropdown-content a {
    float: none;
    font-size: 1.25rem;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #e6e6e6;
}
.dropdown:hover .dropdown-content {
    /*display: block;*/
}




/*FOOTER*/
div#content {
    width: 100%;
    padding: 3% 2% 0;
    overflow: hidden;
    position: relative;
    z-index: 97;
    background-color: #ffcc66;
}
.foot-colmn {
    width: 42.5%;
    float: left;
}
#github {
    width: 15%;
    text-align: center;
}
footer ul {
    width: 90%;
    padding: 0;
    padding-top: 64px;
    margin: 0 auto 0;
    font-family: "Nunito";
}
footer li {
    list-style: none;
}
footer li a {
    width: 100px;
    margin-bottom: 20px;;
    float: right;
    cursor: pointer;
    color: #330099;
    text-align: center;
}
.foot-colmn:first-child li a {
    float: left;
}
#strip {
    min-height: 60px;
    padding: 1% 0 4%;
    position: relative;
    z-index: 97;
    background-color: #404040;
}
#foot-top a {
    padding: 0.5%;
    position: absolute;
    bottom: 20%;
    left: 48%;
    cursor: pointer;
    color: #b3b3b3; 
    text-align: center;
    border: 2px solid #808080;
    background-color: #595959;
}
p#error a {
    margin: 1% 6% 0 0;
    float: right;
    cursor: pointer;
    color: #999999;
    border-bottom: 3px dotted #808080;
}
p#copyright {
    margin: 1% 0 0 4%;
    float: left;
    color: #999999;
}

/*TOP*/
#topBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 96;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: 0 5px 5px #666666;
    border-radius: 15px;
    background-color: #e69900;
    font-family: "Nunito";
    font-size: 1.125rem;
    text-align: center;
    cursor: pointer;
}
#topBtn:hover {
    background-color: #ffbb33;
}


/*FORM*/
.form {
    padding: 4%;
    box-shadow: 0 2px 5px #666666;
    background-color: #f2f2f2;
}
form {
    width: 80%;
    margin: 0 auto;
}
form h3 {
    padding: 2%;
    padding-left: 0;
    text-align: left;
}
.required {
    color: #ff0000;
}
input  {
    width: 200px;
    height: 30px;
    padding: 5%;
    font-size: 0.85rem;
    font-family: "Nunito", "Palatino Linotype", serif;
    border: 3px inset;
}
textarea {
    font-size: 1rem;
}
input:focus, textarea:focus {
    outline: 5px solid rgba(0, 0, 0, 0.1);
}
#submit {
    height: 50px; 
    padding: 2%; 
    font-size: 1rem; 
    border: 3px outset;
}
.alert {
    width: 100%;
    padding: 5px;
    margin: 20px auto 0;
    text-align: left;
    background-color: #cc0000;
}
.alert h3 {
    color: #fff;
}
.alert#error {
    color: #800000;
    border-left: 6px solid #ff3333;
    background-color: #ffb3b3;
}
.alert#success {
    color: #196719;
    border-left: 6px solid #5cd65c;
    background-color: #c2f0c2;
}


/*DIVISOR*/
.divisor {
    width: 90%;
    height: 15px;
    margin: 0 auto;
    border: 0;
    box-shadow: inset 0 15px 15px -15px rgba(0, 0, 0, 0.75);
}



/*MEDIA QUERIES*/
@media only screen and (max-width: 1200px) {
   /*COUNTDOWN*/ 
   div#countdown {
       top: 100px;
    }
}
@media only screen and (max-width: 1024px) {
    /*HEADER*/
    img#logo {
        top: 30%;
        left: 70%;
        z-index: 1;
    }
    #title {
        top: 30%;
        left: 5%;
        z-index: 80;
    }
    #title h1 {
        font-size: 7vw;
    }
    .parallax {
        background-attachment: scroll;
    }
    /*NAV*/
    nav a {
        font-size: 3.9vw;
    }
    .dropdown-content {
        min-width: 22.5vw;
        margin-top: 70px;
    }
    
    /*FOOTER*/
    #foot-top a {
        margin-right: 6%;
        position: static;
        float: right;
    }
    
    /*ALERT*/
    .alert {
        width: 70%;
    }
}
@media only screen and (max-width: 650px) {
    /*HEADER*/
    img#logo {
        width: 40%;
        top: 5%;
        left: 30%;
    }
    #title {
        top: 60%;
        left: 15%;
    }
    h1#central, h1#club, span.purple {
        font-size: 10vw;
    }
    
    /*COUNTDOWN*/
    div#countdown {
        display: none;
    }
    
    /*NAV*/
    nav a {
        width: 50%;
        padding: 10px;
        font-size: 5vw;
        border: 1px solid #666;
        border-bottom: none;
    }
    .dropdown {
        width: 50%;
    }
    .dropbtn {
        width: 100%;
    }
    .dropdown-content {
        min-width: 15vw;
        margin-top: 60px;
        width: 50%;
    }
    .dropdown-content a {
        width: 100%;
        text-align: center;
        font-size: 3.5vw;
        border: none;
    }
    
     nav.jsEnabled #nav {
        width: 100%;
    }
    nav.jsEnabled {
        overflow: scroll;
    }
    nav.jsEnabled a, nav.jsEnabled .dropdown {
        width: auto;
        display: none;
        padding: 20px;
        font-size: 3.9vw;
        border: none;
        padding-left: 4%;
    }
    nav.jsEnabled #home {
        display: block;
    }
    nav.jsEnabled a {
        padding: 3%;
        font-size: 1.75rem;
        border: none;
        padding-left: 4%;
    }
    nav.jsEnabled a#icon {
        float: right;
        display: block;
        padding-right: 4%;
        border: none;
    }
    .topNav.responsive {
        position: relative;
        height: 400px;
    }
    .topNav.responsive a#icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topNav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topNav.responsive.reduced .resources-content a {
          display: none;
    }
    .topNav.responsive.reduced .resources {
        background-color: #000;
        border-top: none;
    }
    
    .topNav.responsive .resources {
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-bottom: 2%;
    }
    .topNav.responsive .resources-content a {
        padding: 20px;
        float: left;
        margin: 1%;
        font-size: 1rem;
    }
    #navbar.open {
        height: 100%;
        position: fixed;
        z-index: 99;
    }
    
    /*FOOTER*/
    footer ul {
        padding-top: 10%;
    }
    #github {
        margin: 5% 0;
    }
    #strip {
        padding: 4% 0 1%;
    }
    p#error, p#error a, p#copyright {
        margin: 0 0 4%;
        float: none;
        text-align: center;
    }
    p#error {
        padding-bottom: 70px;
    }
    p#foot-top a {
        position: absolute;
        bottom: 15%;
    }
    /*ALERT*/
    .alert {
        width: 90%;
    }
}

@media only screen and (max-width: 400px){
   /*HEADER*/
    img#logo {
        width: 60%;
        left: 20%;
    }
    #title {
        top: 57%;
        left: 10%;
    }
    h1#central, h1#club, span.purple {
        font-size: 15vw;
    }
}