/*SIDE NAV*/
#sidenav {
    width: 20%;
    max-height: 80vh;
    margin: 5%;
    margin-bottom: 10%;
    margin-right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
    position: sticky;
    top: 100px;
    box-shadow: 0 3px 3px #666666;
}
#sidenav::-webkit-scrollbar {
    width: 0;
}
button.accordion, button.btm-button {
    width: 100%;
    height: 15vh;
    min-height: 75px;
    display: block;
    cursor: pointer;
    outline: none;
    border: 1px solid #ffaa00;
    background-color: #ffc34d;
}
button.accordion:hover, button.accordion.active:hover {
    background-color: #ffd480;
}
button.accordion.active {
    background-color: #ffcc66;
}
button.accordion h3 {
    font-size: 2rem;
    color: #805500;
}

.panel {
    padding: 2%;
    padding-bottom: 6%;
    display: none;
    background-color: #ffeecc;
}
button.expanded {
    width: 100%;
    height: 5%;
    margin-top: 3%;
    text-indent: 1vw;
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #ffeecc;
}
button.expanded:hover, button.expanded.active {
    background-color: #fff7e6;
}
button.expanded h4 {
    text-align: left;
    font-size: 1.25rem;
    font-weight: normal;
    color: #805500;
}



/*CONTENT*/
section#info {
    width: 65%;
    min-height: 75vh;
    margin: 5%;
    margin-left: 0;
    margin-bottom: 0;
    padding: 2%;
    float: right;
    box-shadow: 0 5px 5px #666666;
    background-color: rgba(0, 0, 0, 0.025);
}
#info p {
    margin: 2%;
    text-indent: 50px;
}
.content {
    display: none;
}


/*MEDIA QUERIES*/
@media only screen and (max-width: 1024px) {
    #sidenav {
        width: 90%;
        position: static;
        overflow: hidden;
        float: none;
        box-shadow: none;
    } 
    button.accordion {
        width: 50%;
        display: inline-block;
    }
    div.panel {
        width: 50%;
        float: right;
    }
    section#info {
        width: 90%;
        margin-top: 0;
    }
}

@media only screen and (max-width: 500px) {
    button.accordion h3 {
        font-size: 7vw;
    }
}