/*SIDE NAV*/
#sidenav {
    width: 20%;
    min-height: 1px;
    margin: 5%;
    margin-bottom: 10%;
    margin-right: 0;
    overflow: hidden;
    float: left;
    position: sticky;
    top: 100px;
    box-shadow: 0 3px 3px #666666;
}
button.accordion {
    width: 100%;
    height: 15vh;
    min-height: 75px;
    display: block;
    cursor: pointer;
    outline: none;
    border: 1px solid #ffaa00;
    background-color: #ffcc66;
}
button.accordion:hover, button.accordion.active {
    background-color: #ffdd99;
}
button.accordion h3 {
    font-size: 2rem;
    color: #805500;
}

.panel {
    padding: 2%;
    padding-bottom: 6%;
    display: none;
    background-color: #ffeecc;
}
button.expanded {
    width: 100%;
    height: 5%;
    margin-top: 3%;
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #ffeecc;
}
button.expanded:hover, button.expanded.active {
    background-color: #fff7e6;
}
button.expanded h4 {
    text-align: left;
    font-size: 1.25rem;
    font-weight: normal;
    text-indent: 10%;
    color: #805500;
}


/*CONTENT*/
section#info {
    width: 65%;
    min-height: 75vh;
    margin: 5%;
    margin-left: 0;
    margin-bottom: 0;
    padding: 2%;
    float: right;
    box-shadow: 0 5px 5px #666666;
    background-color: rgba(0, 0, 0, 0.025);
}
#info p {
    margin: 2%;
    text-indent: 50px;
}

.content {
    display: none;
}

/*nav - scroll*/